<html lang="en">
<head>
	<meta charset="utf-8"/>

	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="client.js"> </script>

	<div class=header> 
	Online Database <br> 
	Web Development <br>
	Andrew Johnson	<br>
	</div>
<title> WebDevelopment Final Project</title>
	
</head>

<body>
	<form id="addForm" name="Add Data">
		
		<fieldset>
			
			Name: <br>
			<input type='text' name='name' id='nameVal'>
			<br>
			Reps: <br>
			<input type='number' name='reps' id='repsVal'>
			<br>
			Weight: <br>
			<input type='number' name='weight' id='weightVal'>
			<br>
			Date: <br>
			<input type='date' name='date' id='dateVal'>
			<br>
			Lbs: <br>
			<input type='radio' name='lbs' id="lbsYes" checked='checked'>Yes
			<br>
			<input type='radio' name='lbs' id="lbsNo">No
			<br>
			<input type='submit' value="Add Data" id="addSubmit">
		</fieldset>
	</form>
	


{{{body}}}

</body>
</html>