<html lang="en">
<head>
	<meta charset="utf-8"/>

	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="client.js"> </script>

	
<title> WebDevelopment Final Project</title>
	
</head>
	
	<div class=header> 
	Online Database <br> 
	Web Development <br>
	Andrew Johnson	<br>
	</div>
	
	<p class=tableTitle The current database data is below: </p>

	<table class=mainTable>
		<tr>
			<th>Name</th>
			<th>Repititions</th>
			<th>Weight</th>
			<th>Date</th>
			<th>Lbs</th>
		</tr>
	


</html>